# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# temp files
*.lnk
changes*.txt
trackerdocs/
docss.txt
ocrandml.txt
ocrtext.txt
scholarship.md
spend-pred.md

backend/credentials/budget-buddy-499217-fd07f9e6620c.json
